In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('/content/Salary (1).csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/Salary (1).csv'

In [12]:
df=pd.read_csv("C:/Users/Admin/Downloads/Salary.csv")

In [16]:
df.head()

   rank discipline   phd  service   sex  salary
0  Prof          B  56.0       49  Male  186960
1  Prof          A  12.0        6  Male   93000
2  Prof          A  23.0       20  Male  110515
3  Prof          A  40.0       31  Male  131205
4  Prof          B  20.0       18  Male  104800

In [18]:
df.tail

<bound method NDFrame.tail of     rank discipline   phd  service     sex  salary
0   Prof          B  56.0       49    Male  186960
1   Prof          A  12.0        6    Male   93000
2   Prof          A  23.0       20    Male  110515
3   Prof          A  40.0       31    Male  131205
4   Prof          B  20.0       18    Male  104800
..   ...        ...   ...      ...     ...     ...
75  Prof          B   NaN       17    Male  124312
76  Prof          B  17.0       17  Female  124312
77  Prof          A  28.0       14  Female  109954
78  Prof          A  23.0       15  Female  109646
79  Prof        NaN  23.0       15    Male  109646

[80 rows x 6 columns]>

In [20]:
df.describe

<bound method NDFrame.describe of     rank discipline   phd  service     sex  salary
0   Prof          B  56.0       49    Male  186960
1   Prof          A  12.0        6    Male   93000
2   Prof          A  23.0       20    Male  110515
3   Prof          A  40.0       31    Male  131205
4   Prof          B  20.0       18    Male  104800
..   ...        ...   ...      ...     ...     ...
75  Prof          B   NaN       17    Male  124312
76  Prof          B  17.0       17  Female  124312
77  Prof          A  28.0       14  Female  109954
78  Prof          A  23.0       15  Female  109646
79  Prof        NaN  23.0       15    Male  109646

[80 rows x 6 columns]>

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        80 non-null     object
 1   discipline  79 non-null     object
 2   phd         79 non-null     float64
 3   service     80 non-null     int64
 4   sex         80 non-null     object
 5   salary      80 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.9+ KB

In [24]:
df.size

480

In [26]:
df['salary']

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
75    124312
76    124312
77    109954
78    109646
79    109646
Name: salary, Length: 80, dtype: int64

In [28]:
df['salary'].dtype

dtype('int64')

In [32]:
df['sex'].dtype

dtype('O')

In [34]:
df['phd'].dtype

dtype('float64')

In [36]:
df.dtypes

rank           object
discipline     object
phd           float64
service         int64
sex            object
salary          int64
dtype: object

In [48]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')